body {
    background-image: url("cloud.png");
    background-size: 2000px;
}

#dashboard {
    background-color: rgb(18, 18, 97);
    color: white;
    text-align: center; 
}


  /* Style the search field */
  input {
    padding: 8px;
    font-size: 12px;
    float: left;
  }
  
  /* Style the submit button */
  button {
    float: left;
    width: 20%;
    padding: 10px;
    background: blue;
    color: whitesmoke;
    font-size: 10px;
    border-left: none; 
  }
  
button:hover {
    background: lightblue;
  }

  .list-group {
      float: left;
      clear: both;
  }

  /* right side */
  #right-side {
      float: left;

  }

  .card {
      border-style: solid;
      border-color: silver;
  }

  /* my-uv  */
  .fair {
    background-color: green;
    color: white;
  }
  .moderate {
      background-color: orange;
      color: white;
  }
 .severe {
      background-color: red;
      color: white;
  }

  /* 5 day boxes */
div.col-sm-2.col-md-2.col-lg-2 {
  background-color: whitesmoke;
  font-size: small;
}